body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.pane {
    width: 100%;
    height: 100vh; /* Full viewport height */
    position: relative; /* Needed for absolute positioning of images */
    overflow: hidden; /* Ensures no scrolling within the pane */
    scroll-snap-align: start;
}

.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures background covers the pane */
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* Ensures the background is behind everything else */
}

.character {
    position: absolute;
    bottom: 5%; /* Adjust this value to position the character vertically */
    left: 50%; /* Adjust this value to position the character horizontally */
    transform: translateX(-50%); /* Shift the character left by half its width */
    width: 250px; /* Adjust the size of your character */
    height: auto;
    z-index: 10; /* Ensures the character is above the background */
}


#pane1 {
    position: relative;
    width: 100%;
    height: 100vh; /* Full viewport height */
    background: url('/images/panel_1_background.png') no-repeat center center;
    background-size: cover;
    scroll-snap-align: start;
}


#pane2 {
    position: relative;
    width: 100%;
    height: 100vh; /* Full viewport height */
    background: url('/images/panel_2_background.png') no-repeat center center;
    background-size: cover;
    scroll-snap-align: start;
}

#pane3 {
    position: relative;
    width: 100%;
    height: 100vh; /* Full viewport height */
    background: url('/images/panel_3_background.png') no-repeat center center;
    background-size: cover;
    scroll-snap-align: start;
}

#pane4 {
    position: relative;
    width: 100%;
    height: 100vh; /* Full viewport height */
    background: url('/images/panel_5_background.png') no-repeat center center;
    background-size: cover;
    scroll-snap-align: start;
}

h1, h2 {
    margin: 0;
    padding: 20px;
}


#myHeader {
    position: fixed;
    top: -100px; /* initially hide the header */
    width: 100%;
    background-color: #333;
    color: white;
    text-align: right;
    transition: top 0.3s;
    z-index: 1000; /* A high value to ensure it's on top */

}

#myHeader.visible {
    top: 0; /* show the header */
}

#myHeader nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: right; 
}

#myHeader nav ul li {
    display: inline-block; 
}

#myHeader nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#myHeader nav ul li a:hover {
    background-color: #111;
}
